<a href="https://colab.research.google.com/github/DSNortsev/Algorithms/blob/master/Indeed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task1:**

You are a developer for a university. Your current project is to develop a system for students to find courses they share with friends. The university has a system for querying courses students are enrolled in, returned as a list of (ID, course) pairs.  Write a function that takes in a collection of (student ID number, course name) pairs and returns, for every pair of students, a collection of all courses they share.

**Sample Input:**  
```
student_course_pairs_1 = [["58", "Linear Algebra"],
                          ["94", "Art History"],
                          ["94", "Operating Systems"],
                          ["17", "Software Design"],
                          ["58", "Mechanics"],
                          ["58", "Economics"],
                          ["17", "Linear Algebra"],
                          ["17", "Political Science"], 
                          ["94", "Economics"],
                          ["25", "Economics"],
                          ["58", "Software Design"],]
```

**Sample Output (pseudocode, in any order):**  
```
find_pairs(student_course_pairs_1) => 
{"58,17": ["Software Design", "Linear Algebra"],
 "58,94": ["Economics"],
 "58,25": ["Economics"],
 "94,25": ["Economics"],
 "17,94": [],
 "17,25": []}    
 ```

**Additional test cases:**  
**Sample Input:** 
```
student_course_pairs_2 = [["0", "Advanced Mechanics"],
                          ["0", "Art History"],
                          ["1", "Course 1"],
                          ["1", "Course 2"],
                          ["2", "Computer Architecture"],
                          ["3", "Course 1"],
                          ["3", "Course 2"],
                          ["4", "Algorithms"]]
```
**Sample output:**
``` 
find_pairs(student_course_pairs_2) => 
  {"1,0":[], 
   "2,0":[],
   "2,1":[],
   "3,0":[],
   "3,1":["Course 1", "Course 2"],
   "3,2":[],
   "4,0":[],
   "4,1":[],
   "4,2":[],
   "4,3":[] }   
```   
**Sample Input:** 
```
student_course_pairs_3 = [["23", "Software Design"],
                          ["3", "Advanced Mechanics"],
                          ["2", "Art History"],
                          ["33", "Another"],
                         ]
```                         
**Sample output:**  
```
find_pairs(student_course_pairs_3) => 
{ "23,3": [],
  "23,2": [],
  "23,33":[],
  "3,2":  [],
  "3,33": [],
  "2,33": []
}
```

In [ ]:
student_course_pairs_1 = [["58", "Linear Algebra"],
                          ["94", "Art History"],
                          ["94", "Operating Systems"],
                          ["17", "Software Design"],
                          ["58", "Mechanics"],
                          ["58", "Economics"],
                          ["17", "Linear Algebra"],
                          ["17", "Political Science"],
                          ["94", "Economics"],
                          ["25", "Economics"],
                          ["58", "Software Design"]
                          ]  
                          
student_course_pairs_2 = [["0", "Advanced Mechanics"],
                          ["0", "Art History"],
                          ["1", "Course 1"],
                          ["1", "Course 2"],
                          ["2", "Computer Architecture"],
                          ["3", "Course 1"],
                          ["3", "Course 2"],
                          ["4", "Algorithms"]
                          ]  

student_course_pairs_3 = [["23", "Software Design"],
                          ["3", "Advanced Mechanics"],
                          ["2", "Art History"],
                          ["33", "Another"]
                          ]

def find_pairs(student_course_pairs: list) -> dict:
  """
    Return a pait of students with common courses
  """

  student_courses = dict()
  result = dict()

  # Find all courses that students have been taken
  for student_info in student_course_pairs:
    if student_info[0] in student_courses:
      student_courses[student_info[0]].append(student_info[1])
    else:
      student_courses[student_info[0]] = [student_info[1]]

  # Get the full list of students
  student_list = list(student_courses.keys())
  for indx1 in range(len(student_list)-1):
    for indx2 in range(indx1+1, len(student_list)):
      student1 = student_list[indx1]
      student2 = student_list[indx2]
      # Find common courses by using set and intersection
      common_courses = list(set.intersection(set(student_courses[student1]),
                                        set(student_courses[student2])))
      result[f'{student1},{student2}'] = common_courses
  return result

In [ ]:
find_pairs(student_course_pairs_1)

{'17,25': [],
 '58,17': ['Software Design', 'Linear Algebra'],
 '58,25': ['Economics'],
 '58,94': ['Economics'],
 '94,17': [],
 '94,25': ['Economics']}

**Task2:**

Find duplicates in the list an return the count

In [2]:
def find_duplicates(numbers: int) -> int:
  duplicates = {}
  duplicate_count = 0
  for number in numbers:
    if duplicates.get(number):
      duplicate_count = duplicate_count + 1 if duplicates[number] == 1 \
                                            else duplicate_count
      duplicates[number] += 1
    else:
      duplicates[number] = 1
  return duplicate_count

In [4]:
numbers = [1, 2, 1, 2, 4, 7, 3]
find_duplicates(numbers)

2

**Task3:**

Turtle walking on a grid. Can accept the following commands: UP, DOWN, LEFT, RIGHT.
If turtle tries to go out of the grid, that stept is ignored.
To calcuate the current position: **(row * size) + column**

In [9]:
class Turtle_game:
  def __init__(self, size):
    self.size = size
    self.column = 0
    self.row = 0 

  def move(self, command):
    """
      Turtle can move on the grid and returns the current position grid
    """
    if command == "UP":
      self.row = self.row - 1 if self.row - 1 >= 0 else self.row
    elif command == "DOWN":
      self.row = self.row + 1 if self.row + 1 < self.size else self.row
    elif command == "LEFT":
      self.column = self.column - 1 if self.column - 1 >= 0 else self.column
    elif command == "RIGHT":
      self.column = self.column + 1 if self.column + 1 < self.size else self.column
    return (self.row * self.size) + self.column

In [25]:
turtle_position = Turtle_game(4)
print(turtle_position.move('UP'))
print(turtle_position.move('UP'))
print(turtle_position.move('DOWN'))
print(turtle_position.move('DOWN'))
print(turtle_position.move('DOWN'))
print(turtle_position.move('DOWN'))
print(turtle_position.move('LEFT'))
print(turtle_position.move('RIGHT'))
print(turtle_position.move('RIGHT'))
print(turtle_position.move('RIGHT'))
print(turtle_position.move('RIGHT'))
print(turtle_position.move('UP'))
print(turtle_position.move('UP'))
print(turtle_position.move('UP'))
print(turtle_position.move('UP'))

0
0
4
8
12
12
12
13
14
15
15
11
7
3
3